/*Desktop*/

@media (min-width: 1400px) {
  nav,
  .wrapper,
  .footer-content,
  .presentacion {
    width: 60%;
    margin: auto;
  }
}

/*Ipad*/

@media (max-width: 820px) {
  .presentacion,
  .consolas {
    flex-direction: column;
  }

  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }

  nav {
    .nav {
      height: 35px;
      display: block;
    }
  }

  .wrapper {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 75%;
  }
  .proximojuego {
    display: block;
    img {
      height: 600px;
      width: 400px;
    }
    .resumen__juego {
      border-top: none;
      border-bottom: 2px solid #fff;
    }
  }
  .product-card {
    margin-left: 75px;
    margin-right: 20px;
  }
}

/*iphone*/

@media (max-width: 655px) {
  .nav {
    @include caja-flex(space-between, center, nowrap);
    margin-bottom: 80px;
  }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
    h1,
    p {
      padding: 0;
    }
  }
  .wrapper {
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 320%;
  }

  .flip {
    height: 100%;
    width: 100%;
  }

  .proximojuego {
    img {
      height: 400px;
      width: 300px;
    }
    .resumen__juego .r {
      font-size: 15px;
    }
  }

  .carousel__slide {
    figure {
      display: block;
      margin-left: 30px;
      margin-right: 30px;
    }

    figcaption {
      min-width: 350px;
    }
  }
  .carousel__thumbnails {
    margin-left: 10px;
    margin-right: 10px;
  }

  .product-card {
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .product-details {
    width: 40%;
    z-index: 1;
  }
  .product-image {
    width: 60%;
    height: 100px;
    left: 50%;
    top: 10%;
  }
}
