@import "global";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|PT+Sans+Narrow:400,700|Play:400,700|Ubuntu+Condensed&display=swap&subset=cyrillic");

header {
  top: 0;
  border-top: 30px solid rgb(0, 0, 0);
  width: 100%;
}

/*Blythe*/

.logo {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  text-align: center;
  span {
    transition: 0.5s linear;
  }
  &:hover {
    margin-bottom: 5px;
    color: crimson;
    text-shadow: 0 0 10px #e73c7e, 0 0 20px blueviolet, 0 0 40px #e73c7e;
  }
}

/*Navlist*/

ul,
li {
  list-style: none;
}

.navlist {
  @include caja-flex(space-between, center, nowrap);
  padding-top: 20px;
}

.nav {
  display: flex;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  height: 40px;
  transform: translateY(-50%);
  z-index: 1;
  justify-content: center;
}

.nav__item {
  height: 100%;
  background-color: white;
  color: #252525;
  font-family: "Oswald", sans-serif;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transform: skew(-21deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  margin: 5px;
  padding: 0 40px;
  cursor: pointer;

  &:hover {
    background: crimson;
    color: #fff;
  }
}
.nav__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
  transform: skew(21deg);
}

.nav__title {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*index*/

.presentacion {
  padding-top: 75px;
  padding-bottom: 50px;
  @include caja-flex(space-between, center, nowrap);

  .flex-item2 {
    text-align: center;
  }

  h1 {
    margin-top: 0;
    padding-right: 20px;
    font-size: $font-h1;
  }

  p {
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.wrapper {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;

  .consolas {
    div {
      text-align: center;
    }
    .conatinerindex {
      width: 100%;
      height: 500px;
    }
    .posicionindex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }

    .caja {
      margin: 10px;
      width: 300px;
      height: 490px;
      text-align: center;
      border-radius: 3px;
      -webkit-transition: 200ms ease-in-out;
      -o-transition: 200ms ease-in-out;
      transition: 200ms ease-in-out;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

      &:hover {
        margin-bottom: -10px;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      }

      h1 {
        color: #fff;
        padding: 30px;
        margin-top: 100px;
        text-align: center;
        font-weight: 100;
        font-size: 25px;
        background: rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
      }
    }

    .texto h3 {
      color: rgb(0, 0, 0);
      text-align: center;
      font-weight: bold;
      font-family: monospace;
      letter-spacing: 3px;
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
      font-size: $font-h3;
    }

    .uno {
      background-image: url("../Imagenes/NintendoSwitch.jpg");
      background-size: cover;
      background-position: center;
    }

    .dos {
      background-image: url("../Imagenes/PlayStation.jpg");
      background-size: cover;
      background-position: center;
    }
    .tres {
      background-image: url("../Imagenes/XboxX.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}

/*JUEGOS*/

.juegos {
  padding-top: 50px;
  padding-bottom: 75px;
  h1 {
    color: gold;
    margin-top: 0;
    padding-right: 20px;
    font-size: $font-h1;
  }
}

.flip {
  position: relative;
  .front,
  .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
  }
  .front {
    transform: rotateY(0deg);
  }
  .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  &:hover {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
  .front,
  .back {
    display: block;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    padding: 1em 2em;
    background: #313131;
    border-radius: 10px;
    p {
      font-size: $font-p - 0.5;
      line-height: 160%;
      color: #999;
    }
  }
}

/*PROXIMOS JUEGOS*/

.meses {
  border-top: 4px solid rgb(0, 0, 0);
}

.proximojuego {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  img {
    height: 600;
    width: 400;
    padding: 20px 0px 20px 50px;
  }
  .resumen__juego {
    border-top: 2px solid #fff;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    padding: 15px 0;
    .title {
      font-size: $font-h2;
    }
    .story {
      font-size: $font-p;
      text-align: right;
      padding-right: 30px;
    }
  }
}

/*JUEGOS INDEPENDIENTES*/

.containerindie {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;

  input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;

    &:nth-of-type(6):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -500%;
    }
    &:nth-of-type(5):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -400%;
    }
    &:nth-of-type(4):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -300%;
    }
    &:nth-of-type(3):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -200%;
    }
    &:nth-of-type(2):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: -100%;
    }
    &:nth-of-type(1):checked
      ~ .carousel__slides
      .carousel__slide:first-of-type {
      margin-left: 0%;
    }
  }
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;

  figure {
    display: flex;
    margin: 0;
  }

  div {
    @include aspect-ratio(3, 2);
    width: 100%;
  }

  figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
    font-size: $font-p;
  }

  .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
  }

  &.scrollable {
    overflow-y: scroll;
  }
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
  margin-bottom: 50px;
  .carousel__slides + & {
    margin-top: 20px;
  }

  li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
  }

  label {
    display: block;
    @include aspect-ratio(1, 1);

    &:hover,
    &:focus {
      cursor: pointer;

      img {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
        transition: all 300ms ease-in-out;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*PRODUCTOS*/

.product-card {
  background-color: #000000;
  max-width: 550px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  box-shadow: 8px 12px 30px;
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  font-size: $font-p;
  position: relative;
}

.product-details {
  width: 53%;
  float: left;
  height: 100%;
  padding: 20px;
  h1 {
    color: rgb(229, 255, 0);
    font-family: monospace;
    font-size: $font-p * 2;
  }
}

.product-image {
  position: absolute;
  right: -140px;
  top: -40px;
  img {
    max-width: 400px;
  }
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: $font-h1;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

@import "medios";
