@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
/*Global*/
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|PT+Sans+Narrow:400,700|Play:400,700|Ubuntu+Condensed&display=swap&subset=cyrillic");
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  height: 100%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

img {
  width: 80%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.servicios,
.presentacion,
.footer-content {
  width: 80%;
  margin: auto;
}

.titulo-servicios,
.presentacion {
  margin-bottom: 10%;
}

/*Variable*/
p {
  font-size: 1.5rem;
  color: white;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
}

/*botones*/
.btn, .btn-principal, .btn-secundario {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.btn:hover, .btn-principal:hover, .btn-secundario:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-principal {
  color: #fff;
  background-color: #6495ed;
}

.btn-secundario {
  background-color: #ffd000;
}

/*footer*/
footer {
  min-height: 80px;
  background-color: black;
  margin-top: 0;
}

footer .footer-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer div img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

/*Mixin*/
/*Funciones*/
header {
  top: 0;
  border-top: 30px solid black;
  width: 100%;
}

/*Blythe*/
.logo {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  text-align: center;
}

.logo span {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.logo:hover {
  margin-bottom: 5px;
  color: crimson;
  text-shadow: 0 0 10px #e73c7e, 0 0 20px blueviolet, 0 0 40px #e73c7e;
}

/*Navlist*/
ul,
li {
  list-style: none;
}

.navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  top: 50%;
  width: 100%;
  height: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__item {
  height: 100%;
  background-color: white;
  color: #252525;
  font-family: "Oswald", sans-serif;
  border-radius: 7px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  -webkit-transform: skew(-21deg);
          transform: skew(-21deg);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  margin: 5px;
  padding: 0 40px;
  cursor: pointer;
}

.nav__item:hover {
  background: crimson;
  color: #fff;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  z-index: 2;
  -webkit-transform: skew(21deg);
          transform: skew(21deg);
}

.nav__title {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*index*/
.presentacion {
  padding-top: 75px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.presentacion .flex-item2 {
  text-align: center;
}

.presentacion h1 {
  margin-top: 0;
  padding-right: 20px;
  font-size: 3rem;
}

.presentacion p {
  padding-right: 20px;
  padding-bottom: 10px;
}

.wrapper {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrapper .consolas div {
  text-align: center;
}

.wrapper .consolas .conatinerindex {
  width: 100%;
  height: 500px;
}

.wrapper .consolas .posicionindex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.wrapper .consolas .caja {
  margin: 10px;
  width: 300px;
  height: 490px;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.wrapper .consolas .caja:hover {
  margin-bottom: -10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.wrapper .consolas .caja h1 {
  color: #fff;
  padding: 30px;
  margin-top: 100px;
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.wrapper .consolas .texto h4 {
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 3px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
  font-size: x-large;
}

.wrapper .consolas .uno {
  background-image: url("../Imagenes/NintendoSwitch.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper .consolas .dos {
  background-image: url("../Imagenes/PlayStation.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper .consolas .tres {
  background-image: url("../Imagenes/XboxX.jpg");
  background-size: cover;
  background-position: center;
}

/*JUEGOS*/
.juegos {
  padding-top: 50px;
  padding-bottom: 75px;
}

.juegos h1 {
  color: gold;
  margin-top: 0;
  padding-right: 20px;
  font-size: 3rem;
}

.flip {
  position: relative;
}

.flip .front,
.flip .back {
  display: block;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.flip .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flip:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip:hover .back {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}

.flip .front,
.flip .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

.flip .front p,
.flip .back p {
  font-size: 1rem;
  line-height: 160%;
  color: #999;
}

/*PROXIMOS JUEGOS*/
.meses {
  border-top: 4px solid black;
}

.proximojuego {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  position: relative;
}

.proximojuego img {
  height: 600;
  width: 400;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.proximojuego .resumen__juego {
  border-top: 2px solid #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.proximojuego .resumen__juego .title {
  font-size: 2.5rem;
}

.proximojuego .resumen__juego .story {
  font-size: 1.5rem;
  text-align: right;
  padding-right: 30px;
}

/*JUEGOS INDEPENDIENTES*/
.containerindie {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}

.carousel input {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.carousel input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}

.carousel input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}

.carousel input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}

.carousel input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}

.carousel input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}

.carousel input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel__slide {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: normal;
}

.carousel__slide figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.carousel__slide div {
  position: relative;
  width: 100%;
}

.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.66667%;
}

.carousel__slide div img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel__slide figcaption {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 20px 20px 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
  font-size: 1.5rem;
}

.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}

.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  margin-bottom: 50px;
}

.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}

.carousel__thumbnails li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
  display: block;
  position: relative;
}

.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.carousel__thumbnails label img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}

.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*PRODUCTOS*/
.product-card {
  background-color: #000000;
  max-width: 550px;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  -webkit-box-shadow: 8px 12px 30px;
          box-shadow: 8px 12px 30px;
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  font-size: 1.5rem;
  position: relative;
}

.product-details {
  width: 53%;
  float: left;
  height: 100%;
  padding: 30px;
}

.product-details h1 {
  color: #e5ff00;
  font-family: monospace;
  font-size: xx-large;
}

.product-image {
  position: absolute;
  right: -140px;
  top: -40px;
}

.product-image img {
  max-width: 400px;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
  font-size: large;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: black;
}

/*Desktop*/
@media (min-width: 1400px) {
  nav,
  .wrapper,
  .footer-content,
  .presentacion {
    width: 60%;
    margin: auto;
  }
}

/*Ipad*/
@media (max-width: 820px) {
  .presentacion,
  .consolas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  nav .nav {
    height: 35px;
    display: block;
  }
  .wrapper {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 75%;
  }
  .proximojuego {
    display: block;
  }
  .proximojuego img {
    height: 600px;
    width: 400px;
  }
  .proximojuego .resumen__juego {
    border-top: none;
    border-bottom: 2px solid #fff;
  }
  .product-card {
    margin-left: 75px;
    margin-right: 20px;
  }
}

/*iphone*/
@media (max-width: 655px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 80px;
  }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  .presentacion div h1,
  .presentacion div p {
    padding: 0;
  }
  .wrapper {
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 320%;
  }
  .flip {
    height: 100%;
    width: 100%;
  }
  .proximojuego img {
    height: 400px;
    width: 300px;
  }
  .proximojuego .resumen__juego .r {
    font-size: 15px;
  }
  .carousel__slide figure {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
  }
  .carousel__slide figcaption {
    min-width: 350px;
  }
  .carousel__thumbnails {
    margin-left: 10px;
    margin-right: 10px;
  }
  .product-card {
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .product-details {
    width: 40%;
    z-index: 1;
  }
  .product-image {
    width: 75%;
    left: 40%;
    top: 20%;
  }
}
/*# sourceMappingURL=main.css.map */